.Comment {
  display: flex;
  border: 2px solid #777;
  padding: 15px;
  margin: 10px 0;
}

.Comment span {
  margin-right: 5px;
}

.Comment-text {
  flex-grow: 1;
}

.Comment button {
  background: none !important;
  color: #0000f5;
  border: none;
  padding: 0 !important;
  font: inherit;
  border-bottom: 1px solid #0000f5;
  cursor: pointer;
}