.NewsAdd {
  display: flex;
  flex-wrap: wrap;
}

.NewsAdd h2 {
  margin: 0 0 15px;
  padding: 0;
  width: 100%;
}

.NewsAdd label {
  flex-basis: 100px;
}

.NewsAdd input, .NewsAdd textarea {
  flex-basis: calc(100% - 100px);
  padding: 5px;
}

.NewsAdd input[type="file"] {
  padding: 0;
}

.NewsAdd label, .NewsAdd input, .NewsAdd textarea {
  margin-bottom: 10px;
}

.NewsAdd button {
  padding: 5px 14px;
  margin-left: 100px;
  font-weight: bold;
}