.Post {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  background-color: #fefefe;
}

.Post img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.Post > div {
  flex-grow: 1;
}

.Post-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: stretch;
}

.Post-title {
  margin: 0;
}

.Post-info {
  display: flex;
  justify-content: space-between;
}

.Post-info button {
  background: none !important;
  color: #0000f5;
  border: none;
  padding: 0 !important;
  font: inherit;
  border-bottom: 1px solid #0000f5;
  cursor: pointer;
}