.News h2 {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  width: 100%;
}

.News h2 button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 12px;
}