.Header {
  margin: 0 -15px;
  padding: 10px 15px;
  border-bottom: 2px solid #777;
  background-color: #f5f5f5;
}

.Header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}