.NewsInfo h2 {
  padding: 0;
  margin: 0 0 10px;
}

.NewsInfo h3 {
  border-top: 1px dashed #777;
  padding-top: 15px;
}

.NewsInfo h2, .NewsInfo h3 {
  font-size: 22px;
}

.NewsInfo-date {
  color: #777777;
  font-style: italic;
  font-size: 14px;
}

.NewsInfo-description {
  font-size: 14px;
  white-space: pre-wrap;
}

.NewsInfo form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.NewsInfo form > label {
  flex-basis: 100px;
}

.NewsInfo form > input {
  flex-basis: calc(100% - 100px);
  padding: 5px;
}

.NewsInfo form > label, .NewsInfo form > input {
  margin-bottom: 10px;
}

.NewsInfo form > button {
  padding: 5px 14px;
  margin-left: 100px;
  font-weight: bold;
}